<div class="bg">
    <div class="wrapper specialists">
        <h3>Våre spesialister på shipping</h3>
        <div class="specialists__people">
            <%- partial("pageteaserPerson") %>
            <%- partial("pageteaserPerson") %>
            <%- partial("pageteaserPerson2") %>
            <%- partial("pageteaserPerson") %>
        </div>
        <div class="specialists_klugeprat">
            <div class="bg--corn">
                Om shipping på
                <h1 class="jumbo">Klugeprat</h1>
                <%- partial("pageteaserKlugeprat") %>
                <%- partial("pageteaserKlugeprat") %>
            </div>
        </div>
    </div>
</div>
