<div class="bg">
    <div class="wrapper specialists">
        <h3>Våre spesialister på shipping</h3>
        <div class="specialists__people">
            <%- partial("pageteaserPerson") %>
            <%- partial("pageteaserPerson") %>
            <%- partial("pageteaserPerson2") %>
            <%- partial("pageteaserPerson") %>
        </div>
        <div class="specialists_klugeprat">
            Om shipping på
            <h1>Klugeprat</h1>
            <%- partial("pageteaserKlugeprat") %>
        </div>
    </div>
</div>
